{{ define "cabecera" }}
<!doctype html>
<html lang="es">

<head>
    <title>Taller</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <h6 style="text-align: center; color: blue; margin-top: 20px; cursor: pointer;">Mundito Hardware Solution 2021</h6>
    <br>
    <nav class="navbar navbar-expand navbar-light bg-light" style="margin-left: 20px;">
        <div class="nav navbar-nav">
            <a name="" id="" class="btn btn-warning" href="/" role="button">Taller </a>
            <a name="" id="" class="btn btn-success" href="/crear" role="button">Crear Nuevo Servicio</a>
        </div>
    </nav>

    {{end}}
