{{ define "inicio" }}
{{ template "cabecera" }}
    <div style="margin-left: 20px;">
    <a name="" id="" class="btn btn-primary" href="/crear" role="button">Agregar Servicio</a>
    </div>
<br/><br/>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Equipo</th>
                <th>Trabajo</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {{ range.}}
            <tr>
                <td> {{.Id}} </td>
                <td> {{.Nombre}} </td>
                <td> {{.Equipo}} </td>
                <td> {{.Trabajo}} </td>
                <td> {{.Telefono}} </td>
                <td> {{.Correo}} </td>
                <td> {{.Fecha}} </td>
                <td> 
                
                <a name="" id="" class="btn btn-warning" href="/editar?id={{.Id}}" role="button">Editar</a>
                 |
                <a name="" id="" class="btn btn-danger btnDelete" href="/borrar?id={{.Id}}" role="button">Borrar</a>
                
                </td>
            </tr>
          {{end}}  
        </tbody>
    </table>
<script>
const btnDelete = document.querySelectorAll('.btnDelete')

if (btnDelete) {
    const btnArray = Array.from(btnDelete);
    btnArray.forEach((btn) => {
        btn.addEventListener('click', (e) => {
            if (!confirm('Estás seguro de querer eliminarlo?')) {
                e.preventDefault();
            }
        });
    });
}
</script>         
 
{{ template "pie" }}
{{end}}
